<div :class="$style.root">
    <div :class="$style.main">
        <u-template name="admin-cloud-fs" title="Kubeworkz Cloud Management System (Full Stack)"><img src="./assets/4-470@2x.png"></u-template>
        <u-template name="library" title="Component Library"><img src="./assets/3-470@2x.png"></u-template>
        <u-template name="web-app" title="Medium-Sized Multi-Page Application"><img src="./assets/2-470@2x.png"></u-template>
        <u-template name="simple" title="Simple Single-Page Application"><img src="./assets/1-470@2x.png"></u-template>
    </div>
</div>
