<div :class="$style.root">
    <div :class="$style.main">
        <u-feature size="huge" name="cloud-admin" title="Kubeworkz Cloud Backend Management System">
            <img src="./assets/cloud-admin.png">
            <template slot="buttons">
                <u-feature-button role="preview" href="http://kubevue-templates.github.io/cloud-admin" target="_blank">Effect Preview</u-feature-button>
                <u-feature-button role="download" href="https://github.com/kubevue-templates/cloud-admin/archive/master.zip" target="_blank">One-Click Download</u-feature-button>
                <u-feature-button role="document" href="http://kubevue-templates.github.io/cloud-admin-site" target="_blank">View Document</u-feature-button>
                <u-feature-button role="github" href="https://github.com/kubevue/cloud-admin" target="_blank">View Source Code</u-feature-button>
            </template>
        </u-feature>
        <br>
        <u-feature name="vue-cli-plugin-kubevue" title="Kubevue - Vue CLI plugin">
            <img src="./assets/vue-cli-plugin-kubevue.png">
            <template slot="buttons">
                <u-feature-button role="document" href="https://github.com/kubevue/vue-cli-plugin-kubevue" target="_blank">View Document</u-feature-button>
                <u-feature-button role="github" href="https://github.com/kubevue/vue-cli-plugin-kubevue" target="_blank">View Source Code</u-feature-button>
            </template>
        </u-feature>
        <u-feature name="kubevue-vscode" title="Kubevue - VSCode plug-in">
            <img src="./assets/kubevue-vscode.png">
            <template slot="buttons">
                <u-feature-button role="preview" href="https://marketplace.visualstudio.com/items?itemName=kubevue.kubevue-vscode" target="_blank">View Documentation</u-feature-button>
                <u-feature-button role="download" href="vscode:extension/kubevue.kubevue-vscode" target="_blank">One-Click Installation</u-feature-button>
                <u-feature-button role="github" href="https://github.com/kubevue/kubevue-vscode" target="_blank">View Source Code</u-feature-button>
            </template>
        </u-feature>
    </div>
</div>